---
extends: "node_modules/yamllint-config-nick2bad4u/.yamllint"

ignore: |
    node_modules/
    **/node_modules/**
    dist/
    coverage/
    build/
    release/
    .cache/
    .docusaurus/
    .stryker-tmp/
    docs/docusaurus/.docusaurus/
    docs/docusaurus/build/
    docs/docusaurus/static/eslint-inspector/
    docs/docusaurus/static/stylelint-inspector/

rules:
    empty-values: "disable"
    line-length:
        level: "warning"
        max: 300
        allow-non-breakable-words: true
        allow-non-breakable-inline-mappings: true
